                       [ IRC Message of the Day ]
|------------------------------------------------------------------------|
| Welcome to IRC by EpiConcept                                           |
|------------------------------------------------------------------------|

{{ ircd_motd }}
